<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.softvan.dao.sys.SysPageElementMapper" >

    <sql id="Base_Column_List" >
        t1.id as id, 
		t1.title as title,
		t1.icon as icon,
		t1.url as url,
		t1.interception as interception,
		t1.type as type,
		t1.parent as parent,
		t1.sort as sort,
		t1.grade as grade,
		t1.app_id as appId,

        t1.date_created as dateCreated, 
        t1.create_id as createId, 
        t1.create_ip as createIp, 
        t1.date_updated as dateUpdated, 
        t1.update_id as updateId, 
        t1.update_ip as updateIp, 
        t1.version as version,
        t1.del_flag as delFlag
    </sql>

    <select id="selectByPrimaryKey" resultType="cn.com.softvan.model.sys.SysPageElement" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_page_element t1
        where t1.id = #{id}
    </select>

    <select id="selectList" resultType="cn.com.softvan.model.sys.SysPageElement" parameterType="cn.com.softvan.model.sys.SysPageElement" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_page_element t1
        where
        <choose>
            <when test="delFlag != null and delFlag != ''">t1.del_flag=#{delFlag}</when>
            <otherwise>t1.del_flag = '0'</otherwise>
        </choose>
        <if test="title != null and title != ''">
            and t1.title like concat("%",#{title},"%")
        </if>
        <if test="parent != null and parent != ''">
            and t1.parent = #{parent}
        </if>
        order by t1.sort asc
    </select>

    <select id="selectUserMenu"  resultType="cn.com.softvan.model.sys.SysPageElement" parameterType="cn.com.softvan.model.sys.SysUser" >
        select
        DISTINCT t4.*


        from t_sys_user_role t1
        LEFT JOIN t_sys_role t2 on( t1.role_id = t2.id)
        LEFT JOIN t_sys_role_page_element t3 on t2.id = t3.role_id
        LEFT JOIN t_sys_page_element t4 on t3.page_element_id = t4.id
        where t1.user_id = #{id}
        and( t4.type = 'LINK_MENU' or t4.type = 'FOLD_MENU')
        order by t4.sort asc

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_sys_page_element
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="cn.com.softvan.model.sys.SysPageElement" >
        insert into t_sys_page_element (
            id,
			title,
			icon,
			url,
			interception,
			type,
			parent,
			sort,
			grade,
			app_id,

            date_created, 
            create_id, 
            create_ip, 
            date_updated, 
            update_id, 
            update_ip, 
            version,
            del_flag
            )
        values (
            #{id},
			#{title},
			#{icon},
			#{url},
			#{interception},
			#{type},
			#{parent},
			#{sort},
			#{grade},
			#{appId},

            now(), 
            #{createId}, 
            #{createIp}, 
            now(), 
            #{updateId}, 
            #{updateIp}, 
            0,
            0
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.softvan.model.sys.SysPageElement" >
        update t_sys_page_element set 
		<if test="title != null" >
			title = #{title},
		</if>
        <if test="icon != null" >
            icon = #{icon},
        </if>
		<if test="url != null" >
			url = #{url},
		</if>
		<if test="interception != null" >
			interception = #{interception},
		</if>
		<if test="type != null" >
			type = #{type},
		</if>
		<if test="parent != null" >
			parent = #{parent},
		</if>
		<if test="sort != null" >
			sort = #{sort},
		</if>

        <if test="grade != null" >
            grade = #{grade},
        </if>
		<if test="appId != null" >
			app_id = #{appId},
		</if>

        <if test="updateId != null" >
            update_id = #{updateId},
        </if>
        <if test="updateIp != null" >
            update_ip = #{updateIp},
        </if>
        <if test="delFlag != null" >
            del_flag = #{delFlag},
        </if>
        version = version + 1,
        date_updated = now()
        where id = #{id}
    </update>
</mapper>
