<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.softvan.dao.sys.SysRoleMapper">

    <sql id="Base_Column_List">
        t1.id as id, 
		t1.company_id as companyId,
		t1.role_name as roleName,
		t1.priority as priority,

        t1.date_created as dateCreated, 
        t1.create_id as createId, 
        t1.create_ip as createIp, 
        t1.date_updated as dateUpdated, 
        t1.update_id as updateId, 
        t1.update_ip as updateIp, 
        t1.version as version,
        t1.del_flag as delFlag
    </sql>

    <select id="selectByPrimaryKey" resultType="cn.com.softvan.model.sys.SysRole" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role t1
        where t1.id = #{id}
    </select>

    <select id="selectList" resultType="cn.com.softvan.model.sys.SysRole"
            parameterType="cn.com.softvan.model.sys.SysRole">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role t1
        where t1.del_flag = '0'
    </select>

    <!--查询系统角色与权限关系-->
    <select id="selectRolePermit" resultType="map" parameterType="cn.com.softvan.model.sys.SysRole">
        select t2.role_id as roleId , t3.url as url
        from  t_sys_permit t3 left join  t_sys_role_page_element t2
        on t3.page_element_id = t2.page_element_id
        where t2.has_permit like concat('%',t3.type, '%');
    </select>
    <select id="selectUserRole" resultType="cn.com.softvan.model.sys.SysRole" parameterType="cn.com.softvan.model.sys.SysUserRole" >
        select
        <include refid="Base_Column_List" />
        from t_sys_role t1
        left join t_sys_user_role t2 on t1.id = t2.role_id
        where t1.del_flag = '0' and t2.del_flag = '0'
        and t2.user_id = #{userId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_sys_role
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="cn.com.softvan.model.sys.SysRole">
        insert into t_sys_role (
            id,
			company_id,
			role_name,
			priority,

            date_created, 
            create_id, 
            create_ip, 
            date_updated, 
            update_id, 
            update_ip, 
            version,
            del_flag
            )
        values (
            #{id},
			#{companyId},
			#{roleName},
			#{priority},

            now(), 
            #{createId}, 
            #{createIp}, 
            now(), 
            #{updateId}, 
            #{updateIp}, 
            0,
            0
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.softvan.model.sys.SysRole">
        update t_sys_role set
        <if test="companyId != null">
            company_id = #{companyId},
        </if>
        <if test="roleName != null">
            role_name = #{roleName},
        </if>
        <if test="priority != null">
            priority = #{priority},
        </if>

        <if test="updateId != null">
            update_id = #{updateId},
        </if>
        <if test="updateIp != null">
            update_ip = #{updateIp},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        version = version + 1,
        date_updated = now()
        where id = #{id}
    </update>
</mapper>
