<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.softvan.dao.sys.SysUserMapper" >

    <sql id="Base_Column_List" >
        t1.id as id, 
        t1.user_name as userName, 
        t1.password as password,
        t1.salt as salt,
        t1.real_name as realName, 
        t1.gender as gender, 
        t1.birthday as birthday, 
        t1.age as age, 
        t1.phone as phone, 
        t1.work_phone as workPhone, 
        t1.email as email, 
        t1.head_img as headImg, 
        t1.address as address, 
        t1.reg_date as regDate, 
        t1.enabled as enabled, 
        t1.last_login as lastLogin, 
        t1.post_code as postCode, 
        t1.credential_code as credentialCode, 
        t1.credential as credential, 
        t1.position as position, 
        t1.date_created as dateCreated, 
        t1.create_id as createId, 
        t1.create_ip as createIp, 
        t1.date_updated as dateUpdated, 
        t1.update_id as updateId, 
        t1.update_ip as updateIp, 
        t1.company_id as companyId, 
        t1.version as version, 
        t1.del_flag as delFlag
    </sql>

    <select id="selectByPrimaryKey" resultType="cn.com.softvan.model.sys.SysUser" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_user t1
        where t1.id = #{id}
    </select>

    <select id="selectList" resultType="cn.com.softvan.model.sys.SysUser" parameterType="cn.com.softvan.model.sys.SysUser" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_user t1
        where t1.del_flag = '0'
        <if test="userName != null and userName != ''">and t1.user_name like concat("%",#{userName},"%")</if>
    </select>

    <select id="selectByUserName"  resultType="cn.com.softvan.model.sys.SysUser" parameterType="cn.com.softvan.model.sys.SysUser" >
        select
        <include refid="Base_Column_List" />
        from t_sys_user t1
        where t1.user_name = #{userName}
        limit 0,1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_sys_user
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="cn.com.softvan.model.sys.SysUser" >
        insert into t_sys_user (id, 
            user_name, 
            password,
            salt,
            real_name, 
            gender, 
            birthday, 
            age, 
            phone, 
            work_phone, 
            email, 
            head_img, 
            address, 
            reg_date, 
            enabled, 
            last_login, 
            post_code, 
            credential_code, 
            credential, 
            position, 
            date_created, 
            create_id, 
            create_ip, 
            date_updated, 
            update_id, 
            update_ip, 
            company_id, 
            version, 
            del_flag
            )
        values (#{id}, 
            #{userName}, 
            #{password},
            #{salt},
            #{realName}, 
            #{gender}, 
            #{birthday}, 
            #{age}, 
            #{phone}, 
            #{workPhone}, 
            #{email}, 
            #{headImg}, 
            #{address}, 
            #{regDate}, 
            #{enabled}, 
            #{lastLogin}, 
            #{postCode}, 
            #{credentialCode}, 
            #{credential}, 
            #{position}, 
            now(), 
            #{createId}, 
            #{createIp}, 
            now(), 
            #{updateId}, 
            #{updateIp}, 
            #{companyId}, 
            0, 
            0
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.softvan.model.sys.SysUser" >
        update t_sys_user set 
        <if test="userName != null" >
            user_name = #{userName},
        </if>
        <if test="password != null and password != ''" >
            password = #{password},
        </if>
        <if test="salt != null and salt != ''">
            salt = #{salt},
        </if>
        <if test="realName != null" >
            real_name = #{realName},
        </if>
        <if test="gender != null" >
            gender = #{gender},
        </if>
        <if test="birthday != null" >
            birthday = #{birthday},
        </if>
        <if test="age != null" >
            age = #{age},
        </if>
        <if test="phone != null" >
            phone = #{phone},
        </if>
        <if test="workPhone != null" >
            work_phone = #{workPhone},
        </if>
        <if test="email != null" >
            email = #{email},
        </if>
        <if test="headImg != null" >
            head_img = #{headImg},
        </if>
        <if test="address != null" >
            address = #{address},
        </if>
        <if test="regDate != null" >
            reg_date = #{regDate},
        </if>
        <if test="enabled != null" >
            enabled = #{enabled},
        </if>
        <if test="lastLogin != null" >
            last_login = #{lastLogin},
        </if>
        <if test="postCode != null" >
            post_code = #{postCode},
        </if>
        <if test="credentialCode != null" >
            credential_code = #{credentialCode},
        </if>
        <if test="credential != null" >
            credential = #{credential},
        </if>
        <if test="position != null" >
            position = #{position},
        </if>
        <if test="updateId != null" >
            update_id = #{updateId},
        </if>
        <if test="updateIp != null" >
            update_ip = #{updateIp},
        </if>
        <if test="companyId != null" >
            company_id = #{companyId},
        </if>
        <if test="delFlag != null" >
            del_flag = #{delFlag},
        </if>
        version = version + 1,
        date_updated = now()
        where id = #{id}
    </update>
</mapper>